openapi: 3.1.1
info:
  description: |-
    The **Norbelys API** is a single, predictable REST surface for cold email and
    outreach — people, senders, programs, and sending all live behind the five
    patterns below. Developer-first and AI-first: every name is either already
    invented (Schema.org) or obvious.

    ## Authentication

    Every request authenticates with an **org-scoped API key**. Create one in
    **Settings → API keys** and send it as a bearer token:

    ```http
    GET https://api.norbelys.com/v1/people
    Authorization: Bearer ak_live_…
    ```

    Interactive agents may instead use OAuth 2.1 (see `/auth.md` and the
    `/.well-known/oauth-protected-resource` metadata).

    ## Conventions

    - **Base URL** — `https://api.norbelys.com/v1`.
    - **JSON in, JSON out.** Timestamps are ISO-8601 in UTC.
    - **Cursor pagination.** List endpoints take `limit` + `cursor` and return
      `{ data, hasMore, nextCursor }` (offset-paged tables add `page` + `total`).
    - **Expansions.** Detail GETs take an `expand[]` query param to inline related
      data (e.g. `GET /people/{id}?expand[]=timeline`) instead of extra calls.
    - **Soft deletes.** Anything that has been used is archived, never hard-deleted —
      `DELETE` archives the resource and returns it.

    ## Errors

    Failures return the same envelope on every 4xx/5xx, with the matching HTTP status:

    ```json
    { "error": { "type": "invalid_request", "code": "invalid_param",
                "message": "…", "hint": "…", "doc_url": "…" } }
    ```

    `type` is a broad, machine-routable category derived from the status; `code` is the
    stable machine contract you branch on (never the human `message`). See the `Error`
    schema.

    ## Idempotency

    Every `POST` accepts an optional **`Idempotency-Key`** header. Reuse the same key to
    replay the original result for 24h instead of re-executing — so a retried create can
    never double-charge or duplicate a record.

    ## Rate limits & versioning

    Abuse control is enforced at the edge; responses advertise the policy via the
    `RateLimit-Policy` header, and a `429` carries `Retry-After`. The API is versioned in
    the URL path (`/v1`). Breaking changes ship under a new version; a retiring surface is
    announced with `Deprecation` + `Sunset` response headers at least 90 days ahead.
  title: Norbelys API
  version: 0.0.1
servers:
- description: Production
  url: https://api.norbelys.com/v1
security:
- bearerAuth: []
tags:
- description: Your workspace — profile and onboarding state.
  name: Organization
- description: "The people you reach out to: create, import, segment, and read a person's\
    \ timeline."
  name: People
- description: Custom person fields — the tenant-defined attributes that ride on every
    person under `customFields`.
  name: Fields
- description: Static lists of people — hand-curated audiences you add to and remove
    from.
  name: Groups
- description: Saved audience filters — dynamic rule-trees evaluated live against
    your people.
  name: Segments
- description: Connected mailboxes that send your email — the sending identity behind
    each program.
  name: Senders
- description: "Every domain concern in one place: sending domains (verification,\
    \ DNS records, daily caps) and DMARC monitoring (collection addresses, ingested\
    \ reports)."
  name: Domains
- description: "Campaigns and sequences — with their steps, variants and enrollments\
    \ nested underneath."
  name: Programs
- description: "Send email through the unified send door, read the unified sent/received\
    \ log, and fetch a message's exact sent source."
  name: Messages
- description: "The one analytics door: named catalog queries (funnels, feeds, health,\
    \ A/B, DMARC) over the event store."
  name: Analytics
- description: "Addresses excluded from sending — unsubscribes, bounces, and complaints."
  name: Suppressions
- description: "Connected tools (Slack, CRMs): mint a Connect session, configure notifications,\
    \ disconnect."
  name: Integrations
- description: "Synchronous email verification — deliverability, reachability, and\
    \ identity signals for an address."
  name: Verify
- name: Files
paths:
  /analytics/query:
    post:
      description: "The ONE read door for all event-derived analytics — choose a named\
        \ `query` from the catalog and pass its `params`; the tenant is auto-scoped\
        \ (you can never read another org). Returns flat rows + a count. Covers activity\
        \ feeds, message/person event traces, time-series, campaign funnels, sender\
        \ & inbox-provider health, A/B performance, warmup placement, and DMARC rollups.\
        \ The `query` field documents the full catalog and which params each one takes."
      operationId: analytics.query
      parameters:
      - description: "Opt-in idempotency for a safely retried write: reuse the same\
          \ key to replay the original result for 24h instead of re-executing. Recommended\
          \ on every POST."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 255
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyticsQuery'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsQueryResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed or failed validation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Authenticated, but not permitted."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such resource (or it has been archived).
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request conflicts with the resource's current state.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Well-formed but semantically invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded — retry after the `Retry-After` interval.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error on our side.
      summary: Run an analytics query
      tags:
      - Analytics
  /domains:
    get:
      description: "List your domains — both sending domains and DMARC-monitoring\
        \ domains. Filter by capability, or pass programId to scope to the sending\
        \ domains a campaign sends from (adds senderCount)."
      operationId: domains.list
      parameters:
      - allowEmptyValue: true
        allowReserved: true
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          description: "Opaque cursor from a previous page's `nextCursor` — returns\
            \ results strictly after it. Example: \"con_x7q2m9k4w8r1\""
          type: string
        style: form
      - allowEmptyValue: true
        allowReserved: true
        explode: true
        in: query
        name: includeArchived
        required: false
        schema:
          description: "Include archived rows in the results (hidden by default).\
            \ Example: true"
          type: boolean
        style: form
      - allowEmptyValue: true
        allowReserved: true
        explode: true
        in: query
        name: limit
        required: false
        schema:
          description: "Page size, 1-100. Defaults to 50. Example: 25"
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - allowEmptyValue: true
        allowReserved: true
        explode: true
        in: query
        name: capability
        required: false
        schema:
          description: "Only rows with this capability: `sending`, `monitoring`, or\
            \ `tracking`."
          enum:
          - sending
          - monitoring
          - tracking
          type: string
        style: form
      - allowEmptyValue: true
        allowReserved: true
        explode: true
        in: query
        name: programId
        required: false
        schema:
          description: Only the sending domains this campaign's mailboxes live under
            (adds `senderCount`).
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainList'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed or failed validation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Authenticated, but not permitted."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such resource (or it has been archived).
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request conflicts with the resource's current state.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Well-formed but semantically invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded — retry after the `Retry-After` interval.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error on our side.
      summary: List domains
      tags:
      - Domains
    post:
      description: "Provision a domain by capability. A `sending` domain registers\
        \ a cold/SMTP mailbox domain (normally born automatically when you connect\
        \ a mailbox); a `monitoring` domain starts DMARC monitoring and auto-mints\
        \ its first collection address (read it back with find?expand[]=collectionAddresses).\
        \ The common manual use is adding an external monitor-only domain."
      operationId: domains.create
      parameters:
      - description: "Opt-in idempotency for a safely retried write: reuse the same\
          \ key to replay the original result for 24h instead of re-executing. Recommended\
          \ on every POST."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 255
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainCreateParams'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed or failed validation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Authenticated, but not permitted."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such resource (or it has been archived).
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request conflicts with the resource's current state.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Well-formed but semantically invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded — retry after the `Retry-After` interval.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error on our side.
      summary: Create a domain
      tags:
      - Domains
  /domains/{id}:
    delete:
      description: "Soft-archive a domain (it is versioned, never hard-deleted). Archiving\
        \ a monitoring domain also revokes its collection addresses, so DMARC report\
        \ ingestion stops with it; restore re-enables them."
      operationId: domains.archive
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: The resource id (path).
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed or failed validation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Authenticated, but not permitted."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such resource (or it has been archived).
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request conflicts with the resource's current state.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Well-formed but semantically invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded — retry after the `Retry-After` interval.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error on our side.
      summary: Archive a domain
      tags:
      - Domains
    get:
      description: "Read one domain (a monitoring domain reports its DMARC collection\
        \ readiness on read). Pass expand[]=collectionAddresses to inline the rua\
        \ addresses reports are sent to."
      operationId: domains.find
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: The domain id (path).
          type: string
        style: simple
      - allowEmptyValue: true
        allowReserved: true
        explode: true
        in: query
        name: expand
        required: false
        schema:
          description: "Inline related data: collectionAddresses (the monitoring rua\
            \ addresses DMARC reports are sent to)."
          items:
            enum:
            - collectionAddresses
            - trackingDomains
            type: string
          type: array
        style: deepObject
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainDetail'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed or failed validation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Authenticated, but not permitted."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such resource (or it has been archived).
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request conflicts with the resource's current state.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Well-formed but semantically invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded — retry after the `Retry-After` interval.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error on our side.
      summary: Get a domain
      tags:
      - Domains
    patch:
      description: "Update customer-owned settings on a sending or tracking domain.\
        \ Operational DNS, TLS, health, recommendation, and capacity fields are read-only.\
        \ The required version provides optimistic concurrency."
      operationId: domains.update
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: The domain id (path).
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainUpdateParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed or failed validation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Authenticated, but not permitted."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such resource (or it has been archived).
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request conflicts with the resource's current state.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Well-formed but semantically invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded — retry after the `Retry-After` interval.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error on our side.
      summary: Update a domain
      tags:
      - Domains
  /domains/{id}/restore:
    post:
      description: Un-archive a domain. A monitoring domain also resumes DMARC report
        collection (its collection addresses are re-enabled).
      operationId: domains.restore
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: The resource id (path).
          type: string
        style: simple
      - description: "Opt-in idempotency for a safely retried write: reuse the same\
          \ key to replay the original result for 24h instead of re-executing. Recommended\
          \ on every POST."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 255
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed or failed validation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Authenticated, but not permitted."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such resource (or it has been archived).
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request conflicts with the resource's current state.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Well-formed but semantically invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded — retry after the `Retry-After` interval.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error on our side.
      summary: Restore an archived domain
      tags:
      - Domains
  /domains/{id}/share:
    post:
      description: "Mint a public, read-only link to this monitoring domain's DMARC\
        \ report (send it to a client — no account needed). The link is signed and\
        \ expires after 30 days; archiving the domain kills it immediately. Mint again\
        \ for a fresh link."
      operationId: domains.share
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: The resource id (path).
          type: string
        style: simple
      - description: "Opt-in idempotency for a safely retried write: reuse the same\
          \ key to replay the original result for 24h instead of re-executing. Recommended\
          \ on every POST."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 255
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportShare'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed or failed validation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Authenticated, but not permitted."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such resource (or it has been archived).
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request conflicts with the resource's current state.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Well-formed but semantically invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded — retry after the `Retry-After` interval.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error on our side.
      summary: Share the DMARC report
      tags:
      - Domains
  /fields/{id}:
    delete:
      description: "Soft-delete a custom field so it stops appearing in the UI, the\
        \ merge-tag catalog, and segment filters. The values already stored under\
        \ its `code` on each person are kept, so the field can be restored without\
        \ data loss."
      operationId: fields.archive
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: The resource id (path).
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Field'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed or failed validation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Authenticated, but not permitted."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such resource (or it has been archived).
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request conflicts with the resource's current state.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Well-formed but semantically invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded — retry after the `Retry-After` interval.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error on our side.
      summary: Delete a field
      tags:
      - Fields
    patch:
      description: "Update a field's label, type, options, or filterability. The `code`\
        \ is immutable after create — live templates and segments reference it — so\
        \ it cannot be changed here."
      operationId: fields.update
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: The field id to update.
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FieldUpdateParams'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Field'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed or failed validation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Authenticated, but not permitted."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such resource (or it has been archived).
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request conflicts with the resource's current state.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Well-formed but semantically invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded — retry after the `Retry-After` interval.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error on our side.
      summary: Update a field
      tags:
      - Fields
  /fields:
    get:
      description: "List all of the org's custom person-fields, in display order.\
        \ The entire set is returned in one response — there is no pagination, because\
        \ the set is small. System fields (email, telephone, first/last name) are\
        \ not included here; only tenant-created custom fields."
      operationId: fields.list
      parameters:
      - allowEmptyValue: true
        allowReserved: true
        explode: true
        in: query
        name: includeArchived
        required: false
        schema:
          description: Include archived fields (hidden by default).
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldList'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed or failed validation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Authenticated, but not permitted."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such resource (or it has been archived).
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request conflicts with the resource's current state.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Well-formed but semantically invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded — retry after the `Retry-After` interval.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error on our side.
      summary: List custom fields
      tags:
      - Fields
    post:
      description: "Create a custom person-field. Its `code` becomes the `{{ code\
        \ }}` merge tag used in templates and the key it is filtered by in segments;\
        \ omit `code` to auto-derive a slug from the label. A `dropdown` field must\
        \ also supply its `options`."
      operationId: fields.create
      parameters:
      - description: "Opt-in idempotency for a safely retried write: reuse the same\
          \ key to replay the original result for 24h instead of re-executing. Recommended\
          \ on every POST."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 255
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FieldCreateParams'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Field'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed or failed validation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Authenticated, but not permitted."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such resource (or it has been archived).
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request conflicts with the resource's current state.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Well-formed but semantically invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded — retry after the `Retry-After` interval.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error on our side.
      summary: Create a custom field
      tags:
      - Fields
  /files:
    post:
      description: "Upload one image or PDF (Base64, max 8 MB decoded) to the public\
        \ files bucket. Returns the permanent public URL — embed it in email HTML\
        \ (signature images, campaign bodies, linked PDFs). The URL contains an unguessable\
        \ id, is never listed, and is served with no search indexing."
      operationId: files.create
      parameters:
      - description: "Opt-in idempotency for a safely retried write: reuse the same\
          \ key to replay the original result for 24h instead of re-executing. Recommended\
          \ on every POST."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 255
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileUpload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed or failed validation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Authenticated, but not permitted."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such resource (or it has been archived).
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request conflicts with the resource's current state.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Well-formed but semantically invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded — retry after the `Retry-After` interval.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error on our side.
      summary: Upload a public file
      tags:
      - Files
  /groups:
    get:
      description: "List the org's groups — static, hand-curated lists of people —\
        \ newest first."
      operationId: groups.list
      parameters:
      - allowEmptyValue: true
        allowReserved: true
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          description: "Opaque cursor from a previous page's `nextCursor` — returns\
            \ results strictly after it. Example: \"con_x7q2m9k4w8r1\""
          type: string
        style: form
      - allowEmptyValue: true
        allowReserved: true
        explode: true
        in: query
        name: includeArchived
        required: false
        schema:
          description: "Include archived rows in the results (hidden by default).\
            \ Example: true"
          type: boolean
        style: form
      - allowEmptyValue: true
        allowReserved: true
        explode: true
        in: query
        name: limit
        required: false
        schema:
          description: "Page size, 1-100. Defaults to 50. Example: 25"
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - allowEmptyValue: true
        allowReserved: true
        explode: true
        in: query
        name: q
        required: false
        schema:
          description: Free-text search over the group name.
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupList'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed or failed validation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Authenticated, but not permitted."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such resource (or it has been archived).
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request conflicts with the resource's current state.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Well-formed but semantically invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded — retry after the `Retry-After` interval.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error on our side.
      summary: List groups
      tags:
      - Groups
    post:
      description: "Create a group: an empty static list of people. Add members with\
        \ groups.members.add (explicit person ids, or snapshot a segment's current\
        \ matches), then view them at GET /v1/people?groupId={id}."
      operationId: groups.create
      parameters:
      - description: "Opt-in idempotency for a safely retried write: reuse the same\
          \ key to replay the original result for 24h instead of re-executing. Recommended\
          \ on every POST."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 255
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupCreateParams'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed or failed validation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Authenticated, but not permitted."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such resource (or it has been archived).
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request conflicts with the resource's current state.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Well-formed but semantically invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded — retry after the `Retry-After` interval.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error on our side.
      summary: Create a group
      tags:
      - Groups
  /groups/{id}:
    delete:
      description: Permanently delete the group and its membership rows. The people
        themselves are kept — only their membership in this group is removed.
      operationId: groups.archive
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: The resource id (path).
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed or failed validation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Authenticated, but not permitted."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such resource (or it has been archived).
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request conflicts with the resource's current state.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Well-formed but semantically invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded — retry after the `Retry-After` interval.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error on our side.
      summary: Delete a group
      tags:
      - Groups
    get:
      description: "Read one group, including its live member count. List its members\
        \ at GET /v1/people?groupId={id} — there is no separate members endpoint."
      operationId: groups.find
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: The resource id (path).
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed or failed validation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Authenticated, but not permitted."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such resource (or it has been archived).
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request conflicts with the resource's current state.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Well-formed but semantically invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded — retry after the `Retry-After` interval.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error on our side.
      summary: Get a group
      tags:
      - Groups
    patch:
      description: Rename a group or change its description and color chip. Membership
        is edited separately via groups.members.add / groups.members.remove.
      operationId: groups.update
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: The group id to update.
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupUpdateParams'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed or failed validation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Authenticated, but not permitted."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such resource (or it has been archived).
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request conflicts with the resource's current state.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Well-formed but semantically invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded — retry after the `Retry-After` interval.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error on our side.
      summary: Update a group
      tags:
      - Groups
  /groups/{id}/members:
    post:
      description: Add people to the group by explicit person ids and/or by snapshotting
        a segment's current matches into it. Idempotent — people already in the group
        are skipped.
      operationId: groups.members.add
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: The group id to add members to.
          type: string
        style: simple
      - description: "Opt-in idempotency for a safely retried write: reuse the same\
          \ key to replay the original result for 24h instead of re-executing. Recommended\
          \ on every POST."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 255
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupAddMembersParams'
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupAddMembersResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed or failed validation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Authenticated, but not permitted."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such resource (or it has been archived).
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request conflicts with the resource's current state.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Well-formed but semantically invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded — retry after the `Retry-After` interval.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error on our side.
      summary: Add people to a group
      tags:
      - Groups
  /groups/{id}/members/{relId}:
    delete:
      description: Remove one person from the group. The person record is kept — only
        their membership in this group is removed.
      operationId: groups.members.remove
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: The group id (path).
          type: string
        style: simple
      - explode: false
        in: path
        name: relId
        required: true
        schema:
          description: The person id to remove (path).
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetachResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed or failed validation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Authenticated, but not permitted."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such resource (or it has been archived).
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request conflicts with the resource's current state.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Well-formed but semantically invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded — retry after the `Retry-After` interval.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error on our side.
      summary: Remove a person from a group
      tags:
      - Groups
  /integrations/{id}:
    delete:
      description: "Disconnects the account: revokes the credential at the provider\
        \ via Nango and soft-archives the row."
      operationId: integrations.remove
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: The resource id (path).
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed or failed validation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Authenticated, but not permitted."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such resource (or it has been archived).
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request conflicts with the resource's current state.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Well-formed but semantically invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded — retry after the `Retry-After` interval.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error on our side.
      summary: Disconnect an integration
      tags:
      - Integrations
    get:
      operationId: integrations.find
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: The resource id (path).
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed or failed validation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Authenticated, but not permitted."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such resource (or it has been archived).
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request conflicts with the resource's current state.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Well-formed but semantically invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded — retry after the `Retry-After` interval.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error on our side.
      summary: Get an integration
      tags:
      - Integrations
    patch:
      description: Shallow-merges the given `config` over the stored config (top-level
        keys replace). Slack carries the notification toggles and target channel;
        CRMs carry the sync-in / push-out direction gates.
      operationId: integrations.update
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: The integration id to update.
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationUpdateParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed or failed validation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Authenticated, but not permitted."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such resource (or it has been archived).
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request conflicts with the resource's current state.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Well-formed but semantically invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded — retry after the `Retry-After` interval.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error on our side.
      summary: Update an integration
      tags:
      - Integrations
  /integrations:
    get:
      description: Each row is one connected provider account. There is no create
        endpoint — a connection is born from the provider's auth webhook after you
        call `connect`.
      operationId: integrations.list
      parameters:
      - allowEmptyValue: true
        allowReserved: true
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          description: "Opaque cursor from a previous page's `nextCursor` — returns\
            \ results strictly after it. Example: \"con_x7q2m9k4w8r1\""
          type: string
        style: form
      - allowEmptyValue: true
        allowReserved: true
        explode: true
        in: query
        name: includeArchived
        required: false
        schema:
          description: "Include archived rows in the results (hidden by default).\
            \ Example: true"
          type: boolean
        style: form
      - allowEmptyValue: true
        allowReserved: true
        explode: true
        in: query
        name: limit
        required: false
        schema:
          description: "Page size, 1-100. Defaults to 50. Example: 25"
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - allowEmptyValue: true
        allowReserved: true
        explode: true
        in: query
        name: provider
        required: false
        schema:
          description: Filter to a single provider's connections.
          enum:
          - slack
          - hubspot
          - pipedrive
          - salesforce
          - calendly
          - calcom
          - google-calendar
          - zoho-calendar
          - acuity-scheduling
          - youcanbook-me
          - apollo
          - smartlead
          - instantly
          - lemlist
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationList'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed or failed validation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Authenticated, but not permitted."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such resource (or it has been archived).
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request conflicts with the resource's current state.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Well-formed but semantically invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded — retry after the `Retry-After` interval.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error on our side.
      summary: List integrations
      tags:
      - Integrations
  /integrations/connect:
    post:
      description: Mints a Nango Connect session for the provider and returns its
        `sessionToken` for the frontend Connect UI. There is no direct create — the
        connection row is born from the provider's auth webhook once the user finishes
        authorizing.
      operationId: integrations.connect
      parameters:
      - description: "Opt-in idempotency for a safely retried write: reuse the same\
          \ key to replay the original result for 24h instead of re-executing. Recommended\
          \ on every POST."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 255
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationConnectParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationConnectResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed or failed validation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Authenticated, but not permitted."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such resource (or it has been archived).
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request conflicts with the resource's current state.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Well-formed but semantically invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded — retry after the `Retry-After` interval.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error on our side.
      summary: Connect an integration
      tags:
      - Integrations
  /integrations/{id}/options:
    get:
      description: "Config-time lookup of the provider's selectable options, proxied\
        \ live through Nango — today, the postable Slack channels for the notification\
        \ channel picker."
      operationId: integrations.options
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: The resource id (path).
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationOptions'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed or failed validation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Authenticated, but not permitted."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such resource (or it has been archived).
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request conflicts with the resource's current state.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Well-formed but semantically invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded — retry after the `Retry-After` interval.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error on our side.
      summary: List an integration's config options
      tags:
      - Integrations
  /integrations/{id}/sync:
    post:
      description: "Triggers an immediate, off-schedule sync, queuing a drain of every\
        \ model the provider syncs (e.g. leads and deals for a CRM)."
      operationId: integrations.sync
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: The resource id (path).
          type: string
        style: simple
      - description: "Opt-in idempotency for a safely retried write: reuse the same\
          \ key to replay the original result for 24h instead of re-executing. Recommended\
          \ on every POST."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 255
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationSyncResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed or failed validation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Authenticated, but not permitted."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such resource (or it has been archived).
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request conflicts with the resource's current state.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Well-formed but semantically invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded — retry after the `Retry-After` interval.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error on our side.
      summary: Sync an integration now
      tags:
      - Integrations
  /messages:
    get:
      description: "List the unified message log — outbound and inbound interleaved\
        \ by time, newest first. Pass direction=inbound for the unibox (replies only),\
        \ senderId for one mailbox's full history, or programId / personId / threadId\
        \ to scope; filter by status, classification, isRead, or channel."
      operationId: messages.list
      parameters:
      - allowEmptyValue: true
        allowReserved: true
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          description: "Opaque cursor from a previous page's `nextCursor` — returns\
            \ results strictly after it. Example: \"con_x7q2m9k4w8r1\""
          type: string
        style: form
      - allowEmptyValue: true
        allowReserved: true
        explode: true
        in: query
        name: includeArchived
        required: false
        schema:
          description: "Include archived rows in the results (hidden by default).\
            \ Example: true"
          type: boolean
        style: form
      - allowEmptyValue: true
        allowReserved: true
        explode: true
        in: query
        name: channel
        required: false
        schema:
          description: "Filter by channel: email, call, sms, linkedin."
          enum:
          - email
          - call
          - sms
          - linkedin
          type: string
        style: form
      - allowEmptyValue: true
        allowReserved: true
        explode: true
        in: query
        name: classification
        required: false
        schema:
          description: "Filter by inbound triage class: interested, out_of_office,\
            \ not_interested, auto_reply, bounce, complaint, unsubscribe, uncategorized."
          enum:
          - interested
          - out_of_office
          - not_interested
          - auto_reply
          - bounce
          - complaint
          - unsubscribe
          - uncategorized
          type: string
        style: form
      - allowEmptyValue: true
        allowReserved: true
        explode: true
        in: query
        name: dir
        required: false
        schema:
          description: "Sort direction: asc or desc."
          enum:
          - asc
          - desc
          type: string
        style: form
      - allowEmptyValue: true
        allowReserved: true
        explode: true
        in: query
        name: direction
        required: false
        schema:
          description: "Filter by direction: outbound or inbound (inbound = the unibox);\
            \ omit to interleave both."
          enum:
          - outbound
          - inbound
          type: string
        style: form
      - allowEmptyValue: true
        allowReserved: true
        explode: true
        in: query
        name: email
        required: false
        schema:
          description: "Pin the log to one email address, matched against the other\
            \ party (covers inbound senders with no person); substring, case-insensitive."
          type: string
        style: form
      - allowEmptyValue: true
        allowReserved: true
        explode: true
        in: query
        name: isRead
        required: false
        schema:
          description: Inbound read-flag filter (false = unread).
          type: boolean
        style: form
      - allowEmptyValue: true
        allowReserved: true
        explode: true
        in: query
        name: limit
        required: false
        schema:
          description: "Page size, 1-500. Defaults to 50."
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - allowEmptyValue: true
        allowReserved: true
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          description: "Sort key: occurredAt or subject. Defaults to occurredAt."
          enum:
          - occurredAt
          - subject
          type: string
        style: form
      - allowEmptyValue: true
        allowReserved: true
        explode: true
        in: query
        name: page
        required: false
        schema:
          description: 1-based page number.
          minimum: 1
          type: integer
        style: form
      - allowEmptyValue: true
        allowReserved: true
        explode: true
        in: query
        name: personId
        required: false
        schema:
          description: Scope to one person.
          type: string
        style: form
      - allowEmptyValue: true
        allowReserved: true
        explode: true
        in: query
        name: programId
        required: false
        schema:
          description: Scope to one campaign.
          type: string
        style: form
      - allowEmptyValue: true
        allowReserved: true
        explode: true
        in: query
        name: search
        required: false
        schema:
          description: Matches subject + the other party's email.
          type: string
        style: form
      - allowEmptyValue: true
        allowReserved: true
        explode: true
        in: query
        name: senderId
        required: false
        schema:
          description: Scope to one mailbox (its full send/receive history).
          type: string
        style: form
      - allowEmptyValue: true
        allowReserved: true
        explode: true
        in: query
        name: status
        required: false
        schema:
          description: "Filter by outbound status: queued, sent, delivered, failed,\
            \ bounced, cancelled."
          enum:
          - queued
          - sent
          - delivered
          - failed
          - bounced
          - cancelled
          type: string
        style: form
      - allowEmptyValue: true
        allowReserved: true
        explode: true
        in: query
        name: stepId
        required: false
        schema:
          description: "Scope to one cadence step's sends. Outbound-only — inbound\
            \ replies carry no step, so combining with `direction: inbound` returns\
            \ nothing."
          type: string
        style: form
      - allowEmptyValue: true
        allowReserved: true
        explode: true
        in: query
        name: threadId
        required: false
        schema:
          description: "Group a conversation: every message sharing this thread id."
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed or failed validation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Authenticated, but not permitted."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such resource (or it has been archived).
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request conflicts with the resource's current state.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Well-formed but semantically invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded — retry after the `Retry-After` interval.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error on our side.
      summary: List messages
      tags:
      - Messages
    post:
      description: "Send a real email — the one send door for all outbound mail. `from`\
        \ is a sender id (snd_…) or any address on a provisioned sending domain (e.g.\
        \ \"david@hola.com\" or \"Acme <david@hola.com>\"; the identity is created\
        \ on first use). Provide content inline (subject + html/text) or render a\
        \ stored template with variantId + data. Reply to an inbound message by passing\
        \ inReplyTo (the send threads to that conversation); set test:true for a one-off\
        \ preview that is excluded from campaign stats. For a paced (cold) sender,\
        \ pass sequence to enroll the person instead of sending now."
      operationId: messages.create
      parameters:
      - description: "Opt-in idempotency for a safely retried write: reuse the same\
          \ key to replay the original result for 24h instead of re-executing. Recommended\
          \ on every POST."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 255
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageCreateParams'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed or failed validation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Authenticated, but not permitted."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such resource (or it has been archived).
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request conflicts with the resource's current state.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Well-formed but semantically invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded — retry after the `Retry-After` interval.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error on our side.
      summary: Send a message
      tags:
      - Messages
  /messages/{id}:
    get:
      description: Read one message by id — an outbound send or an inbound reply.
      operationId: messages.find
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: The resource id (path).
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed or failed validation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Authenticated, but not permitted."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such resource (or it has been archived).
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request conflicts with the resource's current state.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Well-formed but semantically invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded — retry after the `Retry-After` interval.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error on our side.
      summary: Get a message
      tags:
      - Messages
    patch:
      description: "Triage an inbound reply: mark it read or unread, re-classify its\
        \ intent, and/or assign it to a teammate. Inbound messages only."
      operationId: messages.update
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: The inbound message id to triage.
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageUpdateParams'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed or failed validation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Authenticated, but not permitted."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such resource (or it has been archived).
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request conflicts with the resource's current state.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Well-formed but semantically invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded — retry after the `Retry-After` interval.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error on our side.
      summary: Triage an inbound message
      tags:
      - Messages
  /messages/{id}/attachments/{attachmentId}:
    get:
      description: Download one attachment's Base64 content by its id from the attachments
        list — works for both sent (read from the immutable R2 source) and received
        (saved at ingest) messages.
      operationId: messages.attachment
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: The message id (path).
          type: string
        style: simple
      - explode: false
        in: path
        name: attachmentId
        required: true
        schema:
          description: The attachment id from the attachments list (path).
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageAttachmentDownload'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed or failed validation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Authenticated, but not permitted."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such resource (or it has been archived).
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request conflicts with the resource's current state.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Well-formed but semantically invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded — retry after the `Retry-After` interval.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error on our side.
      summary: Download a message attachment
      tags:
      - Messages
  /messages/{id}/attachments:
    get:
      description: List every file carried on a sent or received message — metadata
        only; fetch each file's content with messages.attachment.
      operationId: messages.attachments
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: The resource id (path).
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageAttachmentList'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed or failed validation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Authenticated, but not permitted."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such resource (or it has been archived).
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request conflicts with the resource's current state.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Well-formed but semantically invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded — retry after the `Retry-After` interval.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error on our side.
      summary: List a message's attachments
      tags:
      - Messages
  /messages/{id}/source:
    get:
      description: "Return the exact bytes that left — the fully personalized email\
        \ (final subject, HTML and text, with tracking and footer applied) as persisted\
        \ to R2 at send time. Outbound messages only; inbound bodies ride on the message\
        \ itself."
      operationId: messages.source
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: The resource id (path).
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageSource'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed or failed validation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid credentials.
        "403":
          content:
            application/json:
[...]
